@model GS.WebApp.MVC.Models.ErrorViewModel
@{
    ViewData["Title"] = Model.Title;
}
@{
    if (Model == null)
    {
        <div><h2>Our team are fixing the error</h2></div>
    }
    else
    {
        <div><h2>@Html.Raw(Model.Message)</h2></div>
    }
}