@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Game Store</h1>
    <p>the Best Games <a href="https://google.com">you find here!</a></p>
</div>
